In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [15]:
df=pd.read_excel('AirQualityUCI.xlsx',parse_dates=[['Date','Time']])
df

,Date_Time,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,2004-03-10 18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.600,48.875001,0.757754
1,2004-03-10 19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.300,47.700000,0.725487
2,2004-03-10 20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.900,53.975000,0.750239
3,2004-03-10 21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.000,60.000000,0.786713
4,2004-03-10 22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.150,59.575001,0.788794
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9352,2005-04-04 10:00:00,3.1,1314.25,-200,13.529605,1101.25,471.7,538.50,189.8,1374.25,1728.50,21.850,29.250000,0.756824
9353,2005-04-04 11:00:00,2.4,1162.50,-200,11.355157,1027.00,353.3,603.75,179.2,1263.50,1269.00,24.325,23.725000,0.711864
9354,2005-04-04 12:00:00,2.4,1142.00,-200,12.374538,1062.50,293.0,603.25,174.7,1240.75,1092.00,26.900,18.350000,0.640649
9355,2005-04-04 13:00:00,2.1,1002.50,-200,9.547187,960.50,234.5,701.50,155.7,1041.00,769.75,28.325,13.550000,0.513866
9356,2005-04-04 14:00:00,2.2,1070.75,-200,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.500,13.125000,0.502804

In [16]:
df.dtypes

Date_Time        datetime64[ns]
CO(GT)                  float64
PT08.S1(CO)             float64
NMHC(GT)                  int64
C6H6(GT)                float64
PT08.S2(NMHC)           float64
NOx(GT)                 float64
PT08.S3(NOx)            float64
NO2(GT)                 float64
PT08.S4(NO2)            float64
PT08.S5(O3)             float64
T                       float64
RH                      float64
AH                      float64
dtype: object

In [17]:
data=df.drop(columns='Date_Time')
data.index=df['Date_Time']
data

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
Date_Time,,,,,,,,,,,,,
2004-03-10 18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.600,48.875001,0.757754
2004-03-10 19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.300,47.700000,0.725487
2004-03-10 20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.900,53.975000,0.750239
2004-03-10 21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.000,60.000000,0.786713
2004-03-10 22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.150,59.575001,0.788794
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005-04-04 10:00:00,3.1,1314.25,-200,13.529605,1101.25,471.7,538.50,189.8,1374.25,1728.50,21.850,29.250000,0.756824
2005-04-04 11:00:00,2.4,1162.50,-200,11.355157,1027.00,353.3,603.75,179.2,1263.50,1269.00,24.325,23.725000,0.711864
2005-04-04 12:00:00,2.4,1142.00,-200,12.374538,1062.50,293.0,603.25,174.7,1240.75,1092.00,26.900,18.350000,0.640649
2005-04-04 13:00:00,2.1,1002.50,-200,9.547187,960.50,234.5,701.50,155.7,1041.00,769.75,28.325,13.550000,0.513866
2005-04-04 14:00:00,2.2,1070.75,-200,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.500,13.125000,0.502804

In [18]:
cols=data.columns
for j in cols:
    for i in range(len(data)):
        if data[j][i]==-200:
            data[j][i]=data[j][i-1]

C:\Users\sanka\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [19]:
data

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
Date_Time,,,,,,,,,,,,,
2004-03-10 18:00:00,2.6,1360.00,150,11.881723,1045.50,166.0,1056.25,113.0,1692.00,1267.50,13.600,48.875001,0.757754
2004-03-10 19:00:00,2.0,1292.25,112,9.397165,954.75,103.0,1173.75,92.0,1558.75,972.25,13.300,47.700000,0.725487
2004-03-10 20:00:00,2.2,1402.00,88,8.997817,939.25,131.0,1140.00,114.0,1554.50,1074.00,11.900,53.975000,0.750239
2004-03-10 21:00:00,2.2,1375.50,80,9.228796,948.25,172.0,1092.00,122.0,1583.75,1203.25,11.000,60.000000,0.786713
2004-03-10 22:00:00,1.6,1272.25,51,6.518224,835.50,131.0,1205.00,116.0,1490.00,1110.00,11.150,59.575001,0.788794
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2005-04-04 10:00:00,3.1,1314.25,275,13.529605,1101.25,471.7,538.50,189.8,1374.25,1728.50,21.850,29.250000,0.756824
2005-04-04 11:00:00,2.4,1162.50,275,11.355157,1027.00,353.3,603.75,179.2,1263.50,1269.00,24.325,23.725000,0.711864
2005-04-04 12:00:00,2.4,1142.00,275,12.374538,1062.50,293.0,603.25,174.7,1240.75,1092.00,26.900,18.350000,0.640649
2005-04-04 13:00:00,2.1,1002.50,275,9.547187,960.50,234.5,701.50,155.7,1041.00,769.75,28.325,13.550000,0.513866
2005-04-04 14:00:00,2.2,1070.75,275,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.500,13.125000,0.502804

In [20]:
from statsmodels.tsa.vector_ar.vecm import coint_johansen
johan_test_temp=data.drop(['CO(GT)'],axis=1)
coint_johansen(johan_test_temp,-1,1).eig

array([1.75628733e-01, 1.52399674e-01, 1.15090998e-01, 1.04309966e-01,
       9.29562919e-02, 6.90255307e-02, 5.76654697e-02, 3.43596700e-02,
       3.06350634e-02, 1.18801270e-02, 2.46819409e-03, 7.09473977e-05])

In [21]:
train=data[:int(0.8*(len(data)))]
valid=data[int(0.8*(len(data))):]

In [50]:
from statsmodels.tsa.vector_ar.var_model import VAR
model=VAR(endog=train)
model_fit=model.fit()

prediction=model_fit.forecast(model_fit.y,steps=len(valid))
prediction=pd.DataFrame(prediction,columns=cols)
prediction

C:\Users\sanka\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency H will be used.
  % freq, ValueWarning)
C:\Users\sanka\Anaconda3\lib\site-packages\statsmodels\base\wrapper.py:35: FutureWarning: y is a deprecated alias for endog, will be removed in version 0.11.0
  obj = getattr(results, attr)

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,0.888161,841.803964,271.644320,1.982632,595.965721,137.030660,1119.615156,87.815339,829.844660,546.026663,10.574386,34.871315,0.437278
1,0.992424,866.262441,269.327633,2.332532,619.914837,158.117747,1098.381882,90.537193,856.405973,598.407982,9.854324,37.402547,0.442645
2,1.104907,890.900736,267.743663,2.832077,645.634216,177.729196,1078.458430,93.115608,885.665916,648.974793,9.242719,39.624150,0.447398
3,1.219987,914.919521,266.664032,3.407752,671.662218,195.906115,1059.928335,95.571670,915.647307,697.359008,8.722839,41.579793,0.451740
4,1.333743,937.819088,265.921087,4.011249,697.061083,212.682873,1042.817739,97.910723,945.091670,743.269637,8.281647,43.304705,0.455804
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1867,2.133837,1106.855274,269.411125,10.807054,966.524358,228.625867,843.010179,101.410243,1534.884856,1039.936425,20.182908,48.899248,1.111312
1868,2.133837,1106.855272,269.411125,10.807054,966.524357,228.625864,843.010179,101.410243,1534.884861,1039.936420,20.182909,48.899248,1.111312
1869,2.133837,1106.855270,269.411125,10.807054,966.524357,228.625861,843.010179,101.410242,1534.884866,1039.936415,20.182909,48.899248,1.111312
1870,2.133837,1106.855268,269.411126,10.807054,966.524356,228.625857,843.010179,101.410242,1534.884871,1039.936411,20.182909,48.899248,1.111312
1871,2.133837,1106.855266,269.411126,10.807054,966.524355,228.625854,843.010179,101.410241,1534.884876,1039.936406,20.182909,48.899247,1.111312

In [37]:
valid.index=range(0,len(valid))
valid

,CO(GT),PT08.S1(CO),NMHC(GT),C6H6(GT),PT08.S2(NMHC),NOx(GT),PT08.S3(NOx),NO2(GT),PT08.S4(NO2),PT08.S5(O3),T,RH,AH
0,0.7,832.50,275,1.995293,583.75,106.7,1143.75,80.0,820.50,463.25,11.250,32.525000,0.433449
1,1.1,877.25,275,2.837945,641.75,175.7,1037.00,112.2,858.50,564.50,11.025,32.975000,0.433068
2,1.1,892.25,275,3.256020,667.75,180.3,1016.50,121.2,872.00,631.50,10.275,35.000000,0.437725
3,1.2,898.75,275,3.351769,673.50,212.0,1001.50,132.3,892.50,691.25,8.450,40.950000,0.454188
4,2.0,1007.75,275,7.084494,860.50,330.7,839.25,159.5,977.25,942.75,8.300,38.500001,0.422791
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1867,3.1,1314.25,275,13.529605,1101.25,471.7,538.50,189.8,1374.25,1728.50,21.850,29.250000,0.756824
1868,2.4,1162.50,275,11.355157,1027.00,353.3,603.75,179.2,1263.50,1269.00,24.325,23.725000,0.711864
1869,2.4,1142.00,275,12.374538,1062.50,293.0,603.25,174.7,1240.75,1092.00,26.900,18.350000,0.640649
1870,2.1,1002.50,275,9.547187,960.50,234.5,701.50,155.7,1041.00,769.75,28.325,13.550000,0.513866
1871,2.2,1070.75,275,11.932060,1047.25,265.2,654.00,167.7,1128.50,816.00,28.500,13.125000,0.502804

In [53]:
from sklearn.metrics import mean_squared_error
from math import sqrt
for i in cols:
    print('rmse value for',i,'is: ',sqrt(mean_squared_error(prediction[i],valid[i])))

rmse value for CO(GT) is:  1.408696542445398
rmse value for PT08.S1(CO) is:  205.910376337789
rmse value for NMHC(GT) is:  6.6707414275185055
rmse value for C6H6(GT) is:  7.130304477793963
rmse value for PT08.S2(NMHC) is:  277.85628373124365
rmse value for NOx(GT) is:  214.7579379769087
rmse value for PT08.S3(NOx) is:  244.96129928937017
rmse value for NO2(GT) is:  66.65226538131482
rmse value for PT08.S4(NO2) is:  490.0528665295404
rmse value for PT08.S5(O3) is:  446.5049918901762
rmse value for T is:  10.722429361309745
rmse value for RH is:  17.114848634831855
rmse value for AH is:  0.5216105887715647

In [54]:
model=VAR(endog=data)
model_fit=model.fit()
yhat=model_fit.forecast(model_fit.y,steps=1)
yhat

C:\Users\sanka\Anaconda3\lib\site-packages\statsmodels\tsa\base\tsa_model.py:165: ValueWarning: No frequency information was provided, so inferred frequency H will be used.
  % freq, ValueWarning)
C:\Users\sanka\Anaconda3\lib\site-packages\statsmodels\base\wrapper.py:35: FutureWarning: y is a deprecated alias for endog, will be removed in version 0.11.0
  obj = getattr(results, attr)

array([[2.34562472e+00, 1.08604049e+03, 2.80752383e+02, 1.24358835e+01,
        1.05542000e+03, 2.81217778e+02, 6.59528135e+02, 1.68188388e+02,
        1.15845997e+03, 8.50834322e+02, 2.73623551e+01, 1.55617864e+01,
        5.15356506e-01]])